# Ficheros auxiliares de emacs
##----------------------------
.#
*.*~
~*.*
#*.*#
##============================
## Ignorar todos los archivos que terminen en "~"
*~

## Ignorar todos los archivos que terminen en ".temp"
*.temp

